<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="container mt-4">
        <div class="row">
        
            <div class="col-md-3 dasboard">
            	<p>Khoa CNTT</p>
                <div class="list-group">
                	<a class="list-group-item list-group-item-action" th:href="@{/}">Dasboard</a>
                	<a class="list-group-item list-group-item-action" th:href="@{/page/pagelist}">Page - List</a>
                    <a href="/page/new" class="list-group-item list-group-item-action">Page - Addnew</a>
                    <a class="list-group-item list-group-item-action" th:href="@{/page/post}">Post - List</a>
                    <a href="/post/new" class="list-group-item list-group-item-action">Post - Addnew</a>
                </div>
            </div>
            
            <div class="col-md-9 content">
                <div class="card">
                	<div class="col-md-9">
		                <div class="card">
		                    <div class="card-header">Content</div>
		                    <div class="card-body">
		                        <h3>Page - List</h3>
		                        <table class="table">
		                            <thead>
		                                <tr>
		                                    <th>ID</th>
		                                    <th>Pagename</th>
		                                    <th>parentPageID</th>
		                                    <th></th>
		                                </tr>
		                            </thead>
		                            <tbody>
		                                <tr>
		                                    <td>1</td>
		                                    <td>Trang Chủ</td>
		                                    <td>0</td>
		                                    <td>
		                                        <a href="/page/view/1" class="btn btn-primary btn-sm">[View]</a>
		                                        <a href="/page/edit/1" class="btn btn-warning btn-sm">[Edit]</a>
		                                        <a href="/page/delete/1" class="btn btn-danger btn-sm">[Delete]</a>
		                                    </td>
		                                </tr>
		                            </tbody>
		                        </table>
		                        <a href="/page/new" class="btn btn-success">Thêm mới Page</a>
		                    </div>
		                </div>
		            </div>
                    <!-- <div class="card-header text-center">Content</div>
                    <div class="card-body">
                        Content
                    </div> -->
                </div>
            </div>
            
        </div>
        <footer class="text-center mt-4 footer">
            <p>&copy; 2025 by Pham Xuan Truong - FIT.NTU</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
